<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link href="../../css/mui.min.css" rel="stylesheet" />
        <link href="../../css/myInfo/myShare.css" rel="stylesheet" />
        <link rel="stylesheet" href="../../css/home/bottomTap.css">
        <link rel="stylesheet" href="../../css/icons-extra.css">
        <script src="../../js/mui.min.js"></script>
    <title>我的分享</title>
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <a class="mui-pull-right">
            <img src="../../img/icon/icon-more.png" alt="">
        </a>
        <!-- <a class="mui-btn mui-btn-link mui-pull-right">关闭</a> -->
        <h1 class="mui-title">我的分享</h1>
    </header>
    <div class="header-bg">

    </div>
    <div class="menuStatistics">
        <div class="ueserImg">
            <div class="circle">
                <div class="imgContent"><img src="../../img/myInfo/myshare/userImg.png" alt="" srcset=""></div>
            </div>
        </div>
       
        <div class="mui-row menu">
            <div class="mui-col-xs-3 menu-item">
                <img src="../../img/myInfo/myshare/menu-1.png" alt="">
                <div class="subtitle">直接分享</div>
                <div>60.00</div>
            </div>
            <div class="mui-col-xs-3 menu-item">
                <img src="../../img/myInfo/myshare/menu-2.png" alt="">
                <div class="subtitle">销售额</div>
                <div>80%</div>
            </div>
            <div class="mui-col-xs-3 menu-item">
                <img src="../../img/myInfo/myshare/menu-3.png" alt="">
                <div class="subtitle">全部团队</div>
                <div>120.00</div>
            </div>
            <div class="mui-col-xs-3 menu-item">
                <img src="../../img/myInfo/myshare/menu-4.png" alt="">
                <div class="subtitle">销售额</div>
                <div>0%</div>
            </div>
        </div>
    </div>
    <div class="searchArea">
        <div class="searchInput">
            <input type="text" placeholder="请直接输入手机号/姓名">
            <span class="mui-icon mui-icon-search"></span>
        </div>
        <table>
            <thead>
                <tr>
                    <th>手机号</th>
                    <th>姓名</th>
                    <th>级别</th>
                    <th>已完成</th>
                    <th>完成度</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>138XXXXXXXX</td>
                    <td>张小明</td>
                    <td>LV2</td>
                    <td>35</td>
                    <td>50%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="shareList">
        <div class="listTitle">
            <img src="../../img/icon/icon-user.png" alt="" srcset="">
            我的直推分享
        </div>
        <table>
            <thead>
                <tr>
                    <th>手机号</th>
                    <th>姓名</th>
                    <th>级别</th>
                    <th>已完成</th>
                    <th>完成度</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>138XXXXXXXX</td>
                    <td>张小明</td>
                    <td>LV2</td>
                    <td>35</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>138XXXXXXXX</td>
                    <td>张小明</td>
                    <td>LV2</td>
                    <td>35</td>
                    <td>50%</td>
                </tr>
                <tr><td>138XXXXXXXX</td><td>张小明</td><td>LV2</td><td>35</td> <td>50%</td></tr>
                <tr><td>138XXXXXXXX</td><td>张小明</td><td>LV2</td><td>35</td> <td>50%</td></tr>
                <tr><td>138XXXXXXXX</td><td>张小明</td><td>LV2</td><td>35</td> <td>50%</td></tr>
                <tr><td>138XXXXXXXX</td><td>张小明</td><td>LV2</td><td>35</td> <td>50%</td></tr>
                    
            </tbody>
        </table>
    </div>
    <div style="height: 50px;"></div>
    <nav class="mui-bar mui-bar-tab home-bom-bor">
	    <a class="mui-tab-item">
	        <span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
	        <span class="mui-tab-label">购物</span>
	    </a>
	    <a class="mui-tab-item">
	        <span class="mui-icon mui-icon-extra mui-icon-extra-express"></span>
	        <span class="mui-tab-label">供应商</span>
	    </a>
	    <a class="mui-tab-item mui-active">
	        <span class="mui-icon mui-icon-person-filled"></span>
	        <span class="mui-tab-label">会员中心</span>
	    </a>
    </nav>
    
    <script type="text/javascript" charset="utf-8">
        mui.init();
    </script>
</body>
</html>